@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&family=Supermercado+One&display=swap');



body {
  margin: 10px;
  
}

.form-row{
  width: 38rem;
  margin-left: 20px;
  margin-right: 200px;
}

.form-control{
  border-radius: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  
}

.balance {
  color: black;
  font-family: "Supermercado One", sans-serif;
  font-size: x-large;
  list-style: none;
  text-decoration: none;
}
.brand-name {
  font-family: "Rowdies", sans-serif;
  color: rgb(94, 94, 255);

}
.btn{
  margin-left: 8px;
}

.card{
  width: 25rem;
  margin: 20px;
}

.dog_con{
  display: grid;
   grid-template-columns: repeat(3, 1fr);
}

